# Market Overlap

### SCENARIO

The scenario is: A ficticious company named 'Alpha' is interested in acquiring another ficticious company named 'Beta'. They both belong to the hotelling industry, more specifically they are marketplaces for hotels to announce their accomodation details as well as handle all the booking process with travellers.

### UNDERSTANDING THE COMPANIES

__Alpha__ offer hotels in destinations worldwide. They've entered Brazil's market recently and have been investing in Facebook and Google Ads to get more hotels to publish in their marketplace. However, the CAC (customer acquisition cost) to get more hotels on board is too high and after several weeks trying to improve performance Alpha's board have decided to look for other options of increasing the number of hotels in their marketplace.

__Beta__ on the other hand, operates only in Brazil and although has a smaller scale than Alpha overall, it has a considerable amount of hotels already on board and operating.

### WHY THE MARKET OVERLAP ANALYSIS

Seeking a way to reduce the CAC, Alpha has made a move to buy Beta with all it's hotels and marketplace service. Even though Beta has shown interest on the deal, Alpha still want's to look at some real data in order to reach the conclusion if the CAC would really be lower than their current marketing investments.

As of now, both companies does not know if their hotels are unique to them or actually common between both, as its a common practice among hotels to publish their accomodations in different marketplaces.

### STEPS FOR THE ANALYSIS

1) Setting up

2) Data cleaning

3) Overlap Analysis

4) Conclusions

---

## 1) Setting Up

- Reading files;
- Standardizing columns.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dtype = {
    'registration_id': str
}

parse_dates = [
    'registration_date',
    'latest_booking'
]

alpha = pd.read_csv(
    'alpha_hotels.csv',
    dtype=dtype,
    parse_dates=parse_dates
)

In [3]:
alpha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1843 entries, 0 to 1842
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1843 non-null   int64
 1   hotel_name         1843 non-null   object
 2   address            1843 non-null   object
 3   city               1843 non-null   object
 4   country            1843 non-null   object
 5   registration_date  1843 non-null   datetime64[ns]
 6   latest_booking     1843 non-null   datetime64[ns]
 7   total_bookings     1843 non-null   int64
 8   registration_id    1843 non-null   object
dtypes: datetime64[ns](2), int64(2), object(5)
memory usage: 129.7+ KB

In [4]:
alpha.head()

,id,hotel_name,address,city,country,registration_date,latest_booking,total_bookings,registration_id
0,1,Altenwerth-Wilderman,55 Buhler Place,São Paulo,BR,2021-01-01,2021-05-05,74,439781659462
1,2,Mayer LLC,78279 Brown Crossing,Santos,BR,2021-01-01,2021-06-21,329,686594413636
2,3,Durgan-Ullrich,5 Independence Place,Fortaleza,BR,2021-01-01,2021-02-24,352,916600154620
3,4,Johnston-Osinski,8230 Warbler Plaza,Fortaleza,BR,2021-01-01,2021-08-23,572,343118084017
4,5,"Simonis, Grimes and Okuneva",48 Dahle Terrace,Brasilia,BR,2021-01-01,2021-09-19,547,598986938353

In [5]:
dtype = {
    'Registration Id': str
}

parse_dates = [
    'Registration Date',
    'Last Booking'
]

beta = pd.read_csv(
    'Beta Hotels.csv',
    dtype=dtype,
    parse_dates=parse_dates
)

In [6]:
beta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2601 entries, 0 to 2600
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 2601 non-null   int64
 1   Hotel Name         2601 non-null   object
 2   Address            2601 non-null   object
 3   City State         2601 non-null   object
 4   Registration Date  2601 non-null   datetime64[ns]
 5   Last Booking       2601 non-null   datetime64[ns]
 6   Total Bookings     2601 non-null   int64
 7   Registration Id    2601 non-null   object
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 162.7+ KB

In [7]:
beta.head()

,Id,Hotel Name,Address,City State,Registration Date,Last Booking,Total Bookings,Registration Id
0,1,Smith-West,5 Logan Center,Porto Alegre - RS,2019-05-15,2021-04-12,204,541486358072
1,2,Skiles-Feil,418 Luster Street,Brasilia - DF,2019-05-28,2021-09-27,673,402349901939
2,3,"Hills, Welch and Bernier",16 Superior Pass,Brasilia - DF,2019-06-02,2021-04-29,540,270040626150
3,4,Feeney-Tillman,42135 Di Loreto Crossing,Porto Alegre - RS,2019-06-17,2021-09-29,316,509930155842
4,5,Nitzsche Inc,11432 Westport Center,Fortaleza - CE,2019-06-21,2021-05-24,623,929930403364

__Key findings__
- Seems like the files don't contain 'null' values
- Alpha has the column names formatted as snake_case (best to be kept this way)
- Beta has column names containing spaces and with an unecessary formatting

> Next let's rename Beta columns to align with Alpha's.

In [8]:
new_cols = {
    'Id': 'id',
    'Hotel Name': 'hotel_name',
    'Address': 'addreinconsistencies;
Ensuring bothss',
    'City State': 'city_state',
    'Registration Date': 'registration_date',
    'Last Booking': 'latest_booking',
    'Total Bookings': 'total_bookings',
    'Registration Id': 'registration_id'
}

beta.rename(new_cols, axis=1, inplace=True)
beta.head()

,id,hotel_name,address,city_state,registration_date,latest_booking,total_bookings,registration_id
0,1,Smith-West,5 Logan Center,Porto Alegre - RS,2019-05-15,2021-04-12,204,541486358072
1,2,Skiles-Feil,418 Luster Street,Brasilia - DF,2019-05-28,2021-09-27,673,402349901939
2,3,"Hills, Welch and Bernier",16 Superior Pass,Brasilia - DF,2019-06-02,2021-04-29,540,270040626150
3,4,Feeney-Tillman,42135 Di Loreto Crossing,Porto Alegre - RS,2019-06-17,2021-09-29,316,509930155842
4,5,Nitzsche Inc,11432 Westport Center,Fortaleza - CE,2019-06-21,2021-05-24,623,929930403364

---

## 2) Data Cleaning

- Checking for inconsistencies;
- Ensuring both datasets follow the same pattern for same property.

> During the column renaming I noticed the 'location' properties difer in both datasets. Alpha has only 'city' name, whereas Beta contains an extra information of 'state'.

> To keep both properties on the same pattern, I'll drop the 'state' information as only the city seems to be enough.

In [9]:
beta['city'] = beta['city_state'].str.split(' - ').str[0]
beta.head()

In [11]:
alpha['country'].value_counts()

BR    1843
Name: country, dtype: int64

> At the same time, Alpha has a column with 'country' information, which doesn't seem to be really necessary as all rows contain the same value 'BR'.

> 'country' from Alpha will be removed because it's a column that doesn't add up to the data, and is not even mirrored in Beta's properties.

In [12]:
alpha.drop('country', axis=1, inplace=True)
alpha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1843 entries, 0 to 1842
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1843 non-null   int64
 1   hotel_name         1843 non-null   object
 2   address            1843 non-null   object
 3   city               1843 non-null   object
 4   registration_date  1843 non-null   datetime64[ns]
 5   latest_booking     1843 non-null   datetime64[ns]
 6   total_bookings     1843 non-null   int64
 7   registration_id    1843 non-null   object
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 115.3+ KB

In [13]:
beta.drop('city_state', axis=1, inplace=True)
beta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2601 entries, 0 to 2600
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2601 non-null   int64
 1   hotel_name         2601 non-null   object
 2   address            2601 non-null   object
 3   registration_date  2601 non-null   datetime64[ns]
 4   latest_booking     2601 non-null   datetime64[ns]
 5   total_bookings     2601 non-null   int64
 6   registration_id    2601 non-null   object
 7   city               2601 non-null   object
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 162.7+ KB

In [18]:
alpha['city'].isin(beta['city']).value_counts()

True    1843
Name: city, dtype: int64

In [19]:
beta['city'].isin(alpha['city']).value_counts()

True    2601
Name: city, dtype: int64

__Key findings__
- Now both datasets have the same columns as well as data types and formatting;
- Seems also that Alpha's listed cities are the same as Beta's, and no dataset contain any exclusive value for it.

> Next let's make sure 'registration_id' is free of inconsistencies.

In [16]:
alpha['registration_id'].apply(lambda x: len(x)).describe()

count    1843.0
mean       12.0
std         0.0
min        12.0
25%        12.0
50%        12.0
75%        12.0
max        12.0
Name: registration_id, dtype: float64

In [17]:
beta['registration_id'].apply(lambda x: len(x)).describe()

count    2601.0
mean       12.0
std         0.0
min        12.0
25%        12.0
50%        12.0
75%        12.0
max        12.0
Name: registration_id, dtype: float64

__Key findings__
- This check was necessary because this column will be our primary source of overlap comparision,
- This is an external numbered document and 12 digits is the norm for this type of ID.

> Next let's make sure dates are free of inconsistencies.

In [20]:
alpha[['registration_date', 'latest_booking']].describe(datetime_is_numeric=True)

                   registration_date                 latest_booking
count                           1843                           1843
mean   2021-09-28 08:52:52.219207936  2022-03-13 04:58:28.193163264
min              2021-01-01 00:00:00            2021-02-13 00:00:00
25%              2021-05-11 12:00:00            2021-11-02 00:00:00
50%              2021-10-07 00:00:00            2022-03-12 00:00:00
75%              2022-02-08 00:00:00            2022-07-29 00:00:00
max              2022-06-29 00:00:00            2023-04-26 00:00:00

In [21]:
beta[['registration_date', 'latest_booking']].describe(datetime_is_numeric=True)

                   registration_date                 latest_booking
count                           2601                           2601
mean   2021-06-22 19:43:06.851211008  2022-02-27 07:11:16.816609024
min              2019-05-15 00:00:00            2020-11-09 00:00:00
25%              2021-02-11 00:00:00            2021-10-16 00:00:00
50%              2021-07-10 00:00:00            2022-02-27 00:00:00
75%              2021-12-28 00:00:00            2022-07-14 00:00:00
max              2022-07-08 00:00:00            2023-04-24 00:00:00

__Key findings__
- No super abnormal dates were found, but analuzing the max's for both columns raised some questions;
- The 'registration_date' should come before the 'latest_booking' by pure logic...

> But does this stand with the reality? Next we will validate it.

In [22]:
alpha[alpha['registration_date'] > alpha['latest_booking']]

Empty DataFrame
Columns: [id, hotel_name, address, city, registration_date, latest_booking, total_bookings, registration_id]
Index: []

In [23]:
beta[beta['registration_date'] > beta['latest_booking']]

,id,hotel_name,address,registration_date,latest_booking,total_bookings,registration_id,city
459,460,"Bailey, Treutel and Trantow",5 Center Pass,2020-12-16,2020-12-12,577,178827278319,Brasilia
1075,1076,DuBuque-Dicki,29856 Corben Crossing,2021-05-15,2021-05-03,217,515585228769,Santos
1167,1168,"Labadie, Beer and Rogahn",6011 Nobel Hill,2021-06-08,2021-03-26,287,597555334790,Brasilia
1169,1170,Kuphal-Stiedemann,54 Eastwood Trail,2021-06-08,2021-05-01,748,286067829432,São Paulo
1178,1179,"Hintz, Bergnaum and Crist",13 Mockingbird Pass,2021-06-10,2021-04-14,250,597075591416,Santos
1306,1307,Balistreri-Muller,16 Esch Point,2021-07-11,2021-05-19,271,230965219206,Fortaleza
1653,1654,Ratke-Mills,2 Monica Hill,2021-10-09,2021-09-15,305,509732099032,Brasilia
1700,1701,Morar-Hahn,6 Bluejay Court,2021-10-20,2021-10-13,328,718278430181,Rio de Janeiro
2010,2011,Bechtelar LLC,5711 Sundown Way,2022-01-14,2021-10-07,122,543624630210,São Paulo
2301,2302,Becker-Koepp,35 Sullivan Point,2022-03-31,2022-02-26,152,664251239485,São Paulo
2431,2432,"Runolfsson, Terry and Kuphal",470 Vernon Circle,2022-05-11,2022-02-01,662,347192083894,Fortaleza

> Turns out Beta has some hotels which were registered after the latest booking, so this is a problem. Next we will handle those few cases.

In [24]:
(beta['latest_booking'] - beta['registration_date']).mean()

Timedelta('249 days 11:28:09.965397924')

In [25]:
(beta['latest_booking'] - beta['registration_date']).describe()

count                           2601
mean     249 days 11:28:09.965397924
std      178 days 09:20:58.698826620
min               -99 days +00:00:00
25%                119 days 00:00:00
50%                209 days 00:00:00
75%                298 days 00:00:00
max                932 days 00:00:00
dtype: object

__Key findings__
- The solution chosen was to replace the 'registration_date' of those affected by the overall series mean.
- This was decided instead of simply dropping or keeping it like that because:

1) I don't want to drop these Hotels as number 1 insight we are taking from this analysis is the Overlap, and the dates come as a secondary information which is helpful, yet not essential.

2) Still, I will use the dates later on for the analysis, so insted of having the potential wrong data to mess up the whole series, I'll replace it with the series mean, this way it might not be correct, but at least won't affect overall statistics (or at least affect less).

In [26]:
beta.loc[
    beta['registration_date'] > beta['latest_booking'],
    'registration_date'
] = beta.loc[
        beta['registration_date'] > beta['latest_booking'],
        'registration_date'
] - pd.to_timedelta(249, 'day')

In [27]:
beta[beta['registration_date'] > beta['latest_booking']]

Empty DataFrame
Columns: [id, hotel_name, address, registration_date, latest_booking, total_bookings, registration_id, city]
Index: []

In [28]:
beta[beta['id'] == 460]

,id,hotel_name,address,registration_date,latest_booking,total_bookings,registration_id,city
459,460,"Bailey, Treutel and Trantow",5 Center Pass,2020-04-11,2020-12-12,577,178827278319,Brasilia

---

## 3) Overlap Analysis

-